#tinkercad{
    display: block;
  margin-left: left;
  margin-right: auto;
  width: 50%;
}
#fuzet{
    display: block;
  margin-left: left;
  margin-right: auto;
  width: 25%;
}
.leiras{
    text-align: justify;
}
